body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.green-font{
  color: rgb(14, 136, 14);
}

.red-font{
  color: red;
}

.top-margin-5px{
  margin-top: 5px;
}

.width-100100percent{
   width: 100%;
}

.sidebar-contaienre-width{
  width: 90%;
}

/*=============================================== hide scrollbar in main component ====================================================*/

#scrollableDiv::-webkit-scrollbar,
#scrollablesidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scrollableDiv,
#scrollablesidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*================================================ hr tag for top heading =============================================================*/
hr {
  border: none;
  border-top: 5px double #ff5100;
  color: #000000;
  overflow: visible;
  text-align: center;
  height: 1px;
}


/*================================================ hr tag for top heading =============================================================*/



@media screen and (max-width:500px) {
  .sidebar{
     display: none;
  }

  #scrollableDiv{
    width: 100%;
  }

  #spiner{
    margin-left: 12vw;
  }
}